@{
    ViewBag.Title = "Un poco de mi";
    ViewBag.Message = "Hola, soy un diseñador UI/UX &amp; Frontend Developer de Lima, Perú. Tengo un título en Comunicación social y algunos estudios realizados en Web Design de la Universidad Católica del Perú.";
}

<div class="section cover-background sm-no-background" id="about" style="background: url(/Images/acerca-de.jpg) no-repeat;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-4 col-md-6 col-xs-12">
                        <h4 class="heading">@ViewBag.Title</h4>
                        <p class="text-large alt-font width-90 xs-width-100">@ViewBag.Message</p>
                        <ul class="list-unstyled flat-list flat-list-icon bottom-line-list-dark2 alt-font mt-6 no-margin-lr no-padding">
                            <li><span class="text">Nombre:</span>Marcial Soto</li>
                            <li><span class="text">Correo:</span><a href="mailto:hola@marcialsoto.com">hola@marcialsoto.com</a></li>
                            <li><span class="text">Teléfono:</span>(123) – 456-7890</li>
                            <li><span class="text">Cumpleaños:</span>23 February 1986</li>
                            <li><span class="text">Nationalidad:</span>Perú</li>
                        </ul> 
                        
                        <a href="#" target="_self" class="inner-link  mt-10 highlight-button-dark btn-medium  button btn alt-font">Descarga mi CV</a>
            </div>
        </div>
    </div>
</div>
